:root {
  --white: #f0f0f0;
  --red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --orange: darkorange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

#projects {
  padding: 10rem 2rem;
  text-align: center;
  background-color: var(--main-blue);
}

#projects h1 {
  color: var(--white);
  margin: 0 auto;
  padding-top: 80px;
  font-size: 2.5rem;
  border-bottom: 2px solid var(--white);
  width: 600px;
}

.project-tile {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 40px;
  justify-content: center;
  padding-top: 70px;
}

.tile-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.project-tile a {
  width: 400px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  
}

.project-tile p {
  padding-top: 18px;
  width: 400px;
  height: 65px;
  background-color: var(--main-gray);
}

.code {
  color: var(--main-gray);
  transition: 0.3s ease-in-out;
}

a:hover .code {
  color: var(--orange);
}

.show-all {
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--main-gray);
  transition: 0.3s ease-in-out;
}

.show-all:hover {
  background-color: var(--red);
}

.show-all .arrow {
  margin-left: 5px;
  transition: 0.3s ease-out;
}

.show-all:hover .arrow {
  margin-left: 10px;
}